extends layout

block css
  link(rel="stylesheet", media="screen", type="text/css", href="css/conversations.css")

block append scripts
  script(type="text/javascript", src=base + "/socket.io/socket.io.js")
  script(type="text/javascript")
    var SOCKET = io.connect("http://ll.example.com:8000");
    var USER_ID = '#{userID}';
    var LANGUAGE_PAIRS = !{languagePairs};
  if use_compiled_js
    script(type="text/javascript", src=base + "/compiled/conversations.js")
  else
    script(type="text/javascript", src=base_conversations_js + "/closure/goog/base.js")
    script(type="text/javascript", src=base_conversations_js + "/js/conversations/dependencies.js")
    script(type="text/javascript")
      goog.require("goog.debug.Logger");
      goog.require("goog.debug.FancyWindow");
      goog.require("ll.ConvoController");

block content
  p(id="initial_waiting") Waiting for a conversation
  #match(style="display:none")
  #waiting(style="display:none")
